<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Passport - Google Auth</title>
        <style>
            body{
                font-family: arial;
                margin: 0;
            }
            .nav{
                background: #ff5353;
                padding: 20px 10px;
                min-height: 40px;
            }
            .nav ul{
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            .nav li{
                float: left;
                margin: 0 10px 0 0;
            }
            .nav li a {
                color:#fff;
                font-size: 18px;
                background: rgba(255,255,255,0.2);
                text-decoration: none;
                padding: 10px;
                display: block;
            }
            main, header{
                max-width: 960px;
                margin: 30px auto;
                padding: 0 10px;
                color: #333;
            }

            .google-btn {
                color: #fff;
                text-decoration: none;
                font-size: 18px;
                padding: 10px;
                background: #ff5353;
            }
        </style>
    </head>
    <body>
        <nav class="nav">
            <ul>  
                <% if(user){ %>   
                <li><a href="/auth/logout">Logout</a></li>
                <% } else { %>
                <li><a href="/auth/login">Login</a></li>
                <% } %>
                <li><a href="/">Homepage</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
        <header>
            <h1>Passport - Google Auth</h1>
            <h2>Homepage</h2>
        </header>
        <main>
            <p>This is the Homepage</p>
        </main>
    </body>
</html>